table{
    border-collapse: collapse;
    border: 1px solid white;
    margin-top: 1em;
}
td {
    width: 10px;
    height: 10px;
}
.alive{
    background-color: #fff;
}
.dead{
    background-color: #000;
}