.DndSentientItem,
.DndSentientItem_cell {
    border: 1px solid #fff;
}

.DndSentientItem_cell {
    padding: .5rem;
}

.DndSentientItem_cell :first-child:first-letter {
    text-transform: uppercase;
}
