.DndSentientItem,
.DndSentientItem_cell {
    border: 1px solid #fff;
}

.DndSentientItem_cell {
    padding: .25rem;
}

.DndSentientItem_cell-charText:first-letter,
.DndSentientItem_cell-idealText:first-letter {
    text-transform: uppercase;
}
