.RadioSet {
    margin: 1rem;
}

.RadioSet_input {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: .01;
}

.RadioSet_input + .RadioSet_label {
    border-color: #fff;
    border-style: solid;
    border-width: 1px 0 1px 1px;
    padding: .2em .4em;
    cursor: pointer;
    white-space: nowrap;
    line-height: 2.1em;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
}

.RadioSet_item:first-of-type > .RadioSet_label {
    padding: .2em .4em;
    cursor: pointer;
    white-space: nowrap;
    line-height: 2.1em;
    -webkit-border-radius: 4px 0 0 4px;
       -moz-border-radius: 4px 0 0 4px;
            border-radius: 4px 0 0 4px;
}

.RadioSet_item:last-of-type > .RadioSet_label {
    border-width: 1px;
    -webkit-border-radius: 0 4px 4px 0;
       -moz-border-radius: 0 4px 4px 0;
            border-radius: 0 4px 4px 0;
}

.RadioSet_input:checked + .RadioSet_label,
.RadioSet_input:focus + .RadioSet_label,
.RadioSet_input:active + .RadioSet_label,
.RadioSet_input + .RadioSet_label:hover {
    border-color: gold;
    color: gold;
}

.RadioSet_item-isChecked + .RadioSet_item > .RadioSet_label,
.RadioSet_input:focus + .RadioSet_label + .RadioSet_input + .RadioSet_label,
.RadioSet_input:active + .RadioSet_label + .RadioSet_input + .RadioSet_label,
.RadioSet_input + .RadioSet_label:hover + .RadioSet_input + .RadioSet_label {
    border-left-width: 0;
}

.RadioSet_item.RadioSet_item-isChecked > .RadioSet_label {
    background-color: gold;
    color: black;
}

.RadioSet_input + .RadioSet_label[class^="icon-"] {
    padding-left: 2.5em;
}
