.DndSimpleTableGenerator_cell {
    padding: .4rem;
    border: 1px solid #fff;

    &-rowNum {
        font-size: 1.2em;
    }
}

.DndSimpleTableGenerator_controls {
    display: flex;
    flex-wrap: wrap;
}

.DndSimpleTableGenerator_label {
    margin-right: 2rem;
}

.DndSimpleTableGenerator_btnGenerate {
    font-size: 1.6rem;
}

.DndSimpleTableGenerator_table {
    margin-top: 1rem;
}
