.DndMonet {
    position: relative;
    white-space: nowrap;

    & + & {
        margin-left: .4rem;
    }
}

.DndMonet_text {
    margin-right: .3em;
}

.DndMonet_image {
    @size: 20px;

    position: relative;
    display: inline-block;
    width: @size;
    height: @size;
    bottom: -5px;
}
