.DndSentientItemGenerator {
    padding: 1rem;
    box-sizing: border-box;
}

.DndSentientItemGenerator_btn {
    padding: .25rem 1rem;
    font-size: 1.4rem;
    display: block;
    margin-top: 1rem;
}
