@import './../../styles/mixin';

@columnWidth: 250px;
@size: 2rem;

.DndCreatureCatalog {
  padding-bottom: 2rem;
}

.DndCreatureCatalog_letterList {
    margin-top: @size;
    columns: @columnWidth auto;
}

.DndCreatureCatalog_creatureList {
    list-style-type: none;
    margin-bottom: @size;
}

.DndCreatureCatalog_creatureItem {
    position: relative;

    &:first-child {
      margin-top: 0;

      &:before {
        content: attr(data-letter);
        display: block;
        width: @size;
        height: @size;
        position: absolute;
        top: 0;
        left: -@size * 1.5;
        font-size: @size;
        text-align: center;
      }
    }
}

.DndCreatureCatalog_letterItem {
    list-style-type: none;
    margin-top: 0;
    min-height: 6rem;
}

.DndCreatureCatalog_input {
    .Search();
}
