@import './../../styles/mixin';

@columnWidth: 250px;

@size: 2rem;
@sizeBig: @size * 1.5;
@halfSize: @size / 2;

.SplitByColumns (@columnCount) {
    @media (max-width: (@columnWidth * @columnCount * .75)) {
        columns: @columnCount;
    }
}

.DndCreatureCatalog {
  padding-bottom: 2rem;
}

.DndCreatureCatalog_letterList {
    margin-top: @size;
    columns: @columnWidth auto;

    //.SplitByColumns(10);
    //.SplitByColumns(9);
    //.SplitByColumns(8);
    //.SplitByColumns(7);
    //.SplitByColumns(6);
    //.SplitByColumns(5);
    //.SplitByColumns(4);
    //.SplitByColumns(3);
    //.SplitByColumns(2);
    //.SplitByColumns(1);
}

.DndCreatureCatalog_creatureList {
    list-style-type: none;
    margin-bottom: @halfSize;
}

.DndCreatureCatalog_creatureItem {

    position: relative;

    &:first-child {
      padding-top: @sizeBig;

      &:before {
        content: attr(data-letter);
        display: block;
        width: @size;
        height: @size;
        position: absolute;
        top: @halfSize;
        left: -@sizeBig;
        font-size: @size;
        text-align: center;
      }
    }
}

.DndCreatureCatalog_letterItem {
    list-style-type: none;
    margin-top: 0;
    min-height: 6rem;
}

.DndCreatureCatalog_input {
    .Search();
}
