input[type=radio] {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: .01;
}

input[type=radio] + label {
    border-color: #fff;
    border-style: solid;
    border-width: 1px 0 1px 1px;
    padding: .2em .4em;
    cursor: pointer;
    white-space: nowrap;
    line-height: 2.1em;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
}

input[type=radio]:first-of-type + label {
    padding: .2em .4em;
    cursor: pointer;
    white-space: nowrap;
    line-height: 2.1em;
    -webkit-border-radius: 4px 0 0 4px;
       -moz-border-radius: 4px 0 0 4px;
            border-radius: 4px 0 0 4px;
}

input[type=radio] + label:last-of-type {
    border-width: 1px;
    -webkit-border-radius: 0 4px 4px 0;
       -moz-border-radius: 0 4px 4px 0;
            border-radius: 0 4px 4px 0;
}

input[type=radio]:checked + label,
input[type=radio]:focus + label,
input[type=radio]:active + label,
input[type=radio] + label:hover {
    border-color: gold;
    color: gold;
    border-width: 1px;
}

input[type=radio]:checked + label + input[type=radio] + label,
input[type=radio]:focus + label + input[type=radio] + label,
input[type=radio]:active + label + input[type=radio] + label,
input[type=radio] + label:hover + input[type=radio] + label {
    border-left-width: 0;
}

input[type=radio]:checked + label {
    background-color: gold;
    color: black;
}

input[type=radio] + label[class^="icon-"] {
    padding-left: 2.5em;
}
