.DndCreature {
    background-color: #FCF5C7;
    position: relative;
    width: calc(23vw - 2rem);
    box-shadow: 0 0 10px 0 black;
    padding: 18px 9px 24px;
    color: #511815;
    font-family: sans-serif;
    box-sizing: border-box;
}

.DndCreature-columnCount_2 {
    width: calc(46vw - 2rem);
    columns: 2;
}

.DndCreature-columnCount_3 {
    width: calc(69vw - 2rem);
    columns: 3;
}

.DndCreature-columnCount_4 {
    width: calc(92vw - 2rem);
    columns: 4;
}

@media (max-width: 1200px) {
    .DndCreature {
        width: calc(46vw - 2rem);
    }

    .DndCreature-columnCount_2,
    .DndCreature-columnCount_3,
    .DndCreature-columnCount_4 {
        width: calc(92vw - 2rem);
        columns: 2;
    }
}

.DndCreature:after,
.DndCreature:before {
    content: '';
    position: absolute;
    left: -8px;
    width: calc(100% + 16px);
    height: 9px;
    background-color: #E1A039;
    border: 2px solid #68493F;
    box-shadow: 0 0 1px 0 black;
    box-sizing: border-box;
}

.DndCreature:before {
    top: 0;
}

.DndCreature:after {
    bottom: 0;
}

.DndCreature_name {
    font-size: 2em;
    font-family: serif;
}

.DndCreature_info {
    font-style: italic;
    color: #262322;
}

.DndCreature_infoBlock {
    position: relative;
    padding: 5px 0 10px;
    margin-top: 5px;
}

.DndCreature_infoBlock:before,
.DndCreature_infoBlock:after {
    content: '';
    position: absolute;
    right: 0;
    width: 100%;
    height: 3px;
    background-color: #A02A20;
}

.DndCreature_infoBlock:after {
    bottom: 0;
}

.DndCreature_infoBlock:before {
    top: 0;
}

.DndCreature_infoBlock + .DndCreature_infoBlock:before {
    content: none;
}

.DndCreature_blockHeader {
    color: #734439;
    padding-right: .4em;
    font-weight: 700;
}

.DndCreature_exp {
    padding-left: .4em;
}

.DndCreature_description {
    font-family: Georgia, serif;
    color: #231F20;
    hyphens: auto;
}

.DndCreature_description p {
    margin-bottom: 1rem;
}
