.DwPcClass {
  box-sizing: border-box;

  & p {
    margin-bottom: .5em;
  }
}

.DwPcClass__nameExamples {
  font-style: italic;
}

.DwPcClass__quoteAuthor {
  display: block;
  text-align: right;
  font-style: normal;
}
