.DwPcClass {
  box-sizing: border-box;

  & p {
    margin-bottom: .5em;
  }
}

.DwPcClass__nameExamples {
  font-style: italic;
}

.DwPcClass__striveList {
  column-count: 2;

  @media (max-width: 800px) {
    column-count: 1;
  }
}

.DwPcClass__quoteAuthor {
  display: block;
  text-align: right;
  font-style: normal;
}
