.DndMadnessGenerator_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;
}

.DndMadnessGenerator_item {
    max-width: 30vw;
    min-width: 250px;
    margin-left: 0;
}
