.menu {
    border-bottom: 1px solid #fff;
    background-color: #000;
}
.menu_list {
    margin: 0;
    padding-left: 0;
}
.menu_list_item {
    display: inline-block;
    margin: 0;
}
.menu_list_item_link {
    padding: 1em;
    display: block;
}
.menu_list_item_link:focus,
.menu_list_item_link:active,
.menu_list_item_link:hover {
    background-color: #fff;
    color: #000;
}
.menu_list_item:first-child .menu_list_item_link,
.menu_list_item_link-img {
    padding: 0 1em;
    background-color: transparent;
}
.menu_list_item_link_img {
    vertical-align: middle;
    -webkit-transition: transform 1.5s ease 0s;
       -moz-transition: transform 1.5s ease 0s;
        -ms-transition: transform 1.5s ease 0s;
         -o-transition: transform 1.5s ease 0s;
            transition: transform 1.5s ease 0s;
    -webkit-transform: rotate(0);
       -moz-transform: rotate(0);
        -ms-transform: rotate(0);
         -o-transform: rotate(0);
            transform: rotate(0);
}
.menu_list_item_link-img:focus .menu_list_item_link_img,
.menu_list_item_link-img:active .menu_list_item_link_img,
.menu_list_item_link-img:hover .menu_list_item_link_img {
    -webkit-transform: rotate(180deg);
       -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
         -o-transform: rotate(180deg);
            transform: rotate(180deg);
}

/* @media all and (max-width: 930px) {
    .menu_list_item {
        display: block;
    }
    .menu_list_item:not(:last-child) {
        border-bottom: 1px solid #fff;
    }
} */
