.DndParam {
    text-align: center;
}

.DndParam_header {
    color: #734439;
    font-weight: 700;
    text-transform: uppercase;
}

.DndParam_header:after {
    content: none;
}

.DndParam_value {
    display: block;
}
