table{
    border-collapse: collapse;
}
td, 
th{
    border: 1px solid white;
    text-align: center;
    padding: 1em;
}

textarea{
    border-color: white;
    color: white;
}

textarea:focus,
textarea:active,
textarea:hover,
textarea.focus,
textarea.active,
textarea.hover{
    border-color: gold;
    color: gold;
}
textarea.error{
    border-color: red;
}

textarea:focus,
textarea:active,
textarea:hover,
textarea.focus,
textarea.active,
textarea.hover{
    border-color: gold;
    color: gold;
}
textarea.error{
    border-color: red;
}

a.focus,
a.active,
a.hover{
    color: hotpink;
}
a.focus,
a.active{
    outline: 1px dotted hotpink;
}
a.visited{
    color: red;
}

button.focus,
button.active,
button.hover{
    background-color: #fff;
    border-color: #000;
    color: #000;
}
button.focus,
button.active{
    -webkit-box-shadow: 0 0 7px 5px inset;
       -moz-box-shadow: 0 0 7px 5px inset;
            box-shadow: 0 0 7px 5px inset;
}