.DndAbility {
}

.DndAbility_header {
    color: #231F20;
    font-style: italic;
    font-weight: 700;
    margin-right: .4em;
}

.DndAbility_description,
.DndAbility_description > p {
    display: inline;
    hyphens: auto;
}

.DndAbility_description li {
    margin-bottom: 0;
}

.DndAbility_description li + li {
    margin-top: .5rem;
}

.DndAbility_description li::first-letter {
    text-transform: uppercase;
}
