<fieldset class="options_profit j-options_profit"
          data-id="<%= lvl%>">

    <label>
        Подпись
        <input type="text"
               value="<%= name%>"
               class="options_profit_data
                      options_profit_data-name
                    j-options_profit_data
                    j-options_profit_data-name"
               name="name_<%= lvl%>">
    </label>

    <label>
        Доход, руб.
        <input type="number"
               value="<%= salary%>"
               class="options_profit_data
                      options_profit_data-salary
                    j-options_profit_data
                    j-options_profit_data-salary"
               name="salary_<%= lvl%>">
    </label>

    <b>Длительность</b>

    <label>
        С
        <input type="text"
               value="<%= start%>"
               class="datepicker options_profit_data
                                 options_profit_data-start
                               j-options_profit_data
                               j-options_profit_data-start"
               name="startDate_<%= lvl%>">
    </label>

    <label>
        По
        <input type="text"
               value="<%= end%>"
               class="datepicker options_profit_data
                                 options_profit_data-end
                               j-options_profit_data
                               j-options_profit_data-end"
               name="endDate_<%= lvl%>">
    </label>
    
    <button type="button"
            class="options_profit_removeBtn
                 j-options_profit_removeBtn"
            title="Удалить период">
        ×
    </button>

</fieldset>
