.DndToaTreasureGenerator_cell {
    padding: .4rem;
    border: 1px solid #fff;
}

.DndToaTreasureGenerator_label {
    margin-right: 2rem;
}

.DndToaTreasureGenerator_btnGenerate {
    font-size: 2rem;
}
