.DndItemTable {
    margin: 1em;
}

.DndItemTable_cell {
    border-width: 0 0 1px 1px;
    border-color: #fff;
    border-style: solid;
    padding: .5em;
    hyphens: auto;
}

.DndItemTable_cell-narrow {
    width: 1em;
}
.DndItemTable_cell-narrow .DndItemTable_narrowWrapper {
    writing-mode: vertical-lr;
}

.DndItemTable_cell:last-child {
    border-right-width: 1px;
}

.DndItemTable_row:first-child > .DndItemTable_cell {
    border-top-width: 1px;
}

.DndItemTable_head .DndItemTable_cell-head {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.DndItemTable_head .DndItemTable_cell-head:before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    left: -1px;
    top: -1px;
    border: 1px solid white;
    box-sizing: content-box;
    z-index: -1;
}
